<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
		<category id="com.akikhtenko.split" name="HandySplit" description="Split and manipulate open editors"/>
		<command 
			id="com.akikhtenko.split.split" 
			name="Split editor" 
			defaultHandler="com.akikhtenko.split.SplitProcessor"
			categoryId="com.akikhtenko.split">
			<commandParameter id="com.akikhtenko.split.direction" name="Direction"/>
		</command>
		<command 
			id="com.akikhtenko.split.move" 
			name="Move editor" 
			defaultHandler="com.akikhtenko.split.MoveProcessor"
			categoryId="com.akikhtenko.split"/>
		<command 
			id="com.akikhtenko.split.clone" 
			name="Clone editor" 
			defaultHandler="com.akikhtenko.split.CloneProcessor"
			categoryId="com.akikhtenko.split">
			<commandParameter id="com.akikhtenko.split.direction" name="Direction"/>
		</command>
		<command 
			id="com.akikhtenko.split.exchange" 
			name="Exchange editors" 
			defaultHandler="com.akikhtenko.split.ExchangeProcessor"
			categoryId="com.akikhtenko.split"/>
		<command 
			id="com.akikhtenko.split.flatten" 
			name="Flatten split editors" 
			defaultHandler="com.akikhtenko.split.FlattenProcessor"
			categoryId="com.akikhtenko.split"/>
		<command 
			id="com.akikhtenko.split.toggle" 
			name="Toggle focus between split editors" 
			defaultHandler="com.akikhtenko.split.ToggleFocusProcessor"
			categoryId="com.akikhtenko.split"/>
   </extension>

	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="com.akikhtenko.split.split"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M2+M3+S S"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
			<parameter id="com.akikhtenko.split.direction" value="H"/>
		</key>
		<key
			commandId="com.akikhtenko.split.split"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+M3+S S"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
			<parameter id="com.akikhtenko.split.direction" value="V"/>
		</key>
		<key
			commandId="com.akikhtenko.split.move"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M2+M3+S M"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key
			commandId="com.akikhtenko.split.clone"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M2+M3+S C"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
			<parameter id="com.akikhtenko.split.direction" value="H"/>
		</key>
		<key
			commandId="com.akikhtenko.split.clone"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+M3+S C"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
			<parameter id="com.akikhtenko.split.direction" value="V"/>
		</key>
		<key
			commandId="com.akikhtenko.split.exchange"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M2+M3+S E"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key
			commandId="com.akikhtenko.split.flatten"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M2+M3+S F"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key
			commandId="com.akikhtenko.split.toggle"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M2+M3+S T"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
	
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="HelpToc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
